.categories-list {
    list-style: none;
}

.list-item {
    margin-top: 13px;
    font-size: 16px;
}

.catalog-card .card-title {
    font-size: 16px;
    margin-top: 10px;
}

.catalog-card .card-text {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
    text-align: center;
}

.catalog-card {
    margin-top: 1em;
}

.list-name{
    font-size: 24px;
    color: #4C57FF;
}