*{
    font-family: 'Montserrat',serif;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', serif;
}

.dark-bg-box {
    background-color: #3B3738;
}

.nav-bot a {
    color: #fff;
}

.carousel-item {
    max-height: 340px;
}

.category-card {
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
    max-height: 300px;
    height: 100%;
    font-size: 1em;
}

.card-title {
    font-size: 1em;
    text-align: center;
}

.carousel-hits-card {
    max-width: 250px;
    height: 100%;
    border: none;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
}

.card-group {
    height: 100%;
}

.ship-name {
    text-transform: uppercase;
}

.delivery {
    margin-top: 5em;
}

.carousel-control-prev,
.carousel-control-next {
    max-width: 50px;
}

.btn{
    font-family: 'Montserrat', serif;
}

.photo-block-text-margin {
    margin-top: 5em;
    margin-bottom: 10px;
}

.gallery-item {
    max-width: 200px;
    margin-top: 10px;
}

footer {
    background-color: #2A2A2A;
}

.footer-link {
    color: #fff;
}

.breadcrumb-item {
    font-size: 0.8em;
    color: #6c757d;
    font-family: 'Montserrat';
}

.breadcrumb-item.active{
    color: #4C57FF;
    font-size: 0.8em;
}

.product-name-title{
    font-size: 1.5em;
}

.product-box{
    border: 1px solid #c4c4c48e;
}

.properties-box ul{
    list-style: none;
    padding-left: 0;
}

.price{
    font-family: 'Montserrat', serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
}

li.text{
    font-weight: 500;
}

.description p{
    font-size: 20px;
}

.similar-products p{
    font-size: 20px;
    text-align: center;
}

.list{
    max-height: 100px;
}

.cart-list-img{
    max-width: 10%;
}

.ship-name{
    margin-bottom: 0;
}